.produto-item {
	border: 10px #000000 solid;
	border-radius: 10px;
	cursor: pointer;
	height: 400px;
	margin-left: 30px;
	margin-top: 20px;
	padding-left: 30px;
}

.produto-item:hover {
	border-color: blue;
}

.produto-item .produto-titulo:hover {
	font-size: 36px;
}

.produto-item:active {
	border-color: orange;
}
